import Section from '@components/Section';
import React, { FunctionComponent } from 'react';

import { {{pascalCase name}}Container } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: FunctionComponent = () => {

  return (
    <Section>
      <p>Hello, World!</p>
    </Section>
  );
};

export default {{pascalCase name}};
