/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

html,
body {
  background-color: #121212;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
  position: relative;
}