@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  background-color: #090909;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-20px);
  }
}

.nav:hover {
  color: rgb(231, 183, 109);
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

a {
  @apply font-semibold;
  color: #5da6ec;
}

p {
  @apply leading-relaxed pb-4;
}

@screen md {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    @apply text-5xl;
  }
  span {
    font-size: 0.9em;
  }
  .pic-preview-main {
    width: 140px;
  }
  .gallery-pics {
    width: 140px;
  }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (max-width: 750px) {
  .column {
    width: 100%;
  }
}
