import React from 'react';
import { NextPage } from 'next';
import SEO from '@components/SEO';

import { Container, Content } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: NextPage = () => {

  return (
    <Container>
      <SEO title="{{pascalCase name}}"/>

      <Content>
        <p>Hello, World</p>
      </Content>
    </Container>
  );
};

export default {{pascalCase name}};
